In [41]:
import pandas as pd
df = pd.DataFrame({'A':['가','나','다'],'B':['a','b','c']})
df2 = pd.DataFrame({'C':['1','2','3'],'D':['q','w','e']})

## [[[1_main1]]]

2_4) Encoding Categorical Variables 부분

Label Encoding vs One-Hot Encoding

## Label Encoding
- 글자를 숫자로 바꿔주는 거

In [42]:
from sklearn.preprocessing import LabelEncoder
 

encoder = LabelEncoder()
encoder.fit(df['A'])
df['A'] = encoder.transform(df['A'])

df

   A  B
0  0  a
1  1  b
2  2  c

## One-Hot Encoding
Loss를 계산하기 쉽게 만들어 주기 위해 벡터의 요소 하나만 1 이고, 나머지 요소는 모두 0 인 벡터로 만들어 주는 것

In [43]:
from keras.utils import np_utils
 
df['A'] = np_utils.to_categorical(df['A'])

df

     A  B
0  1.0  a
1  0.0  b
2  0.0  c

https://3months.tistory.com/207 추가하기

2_5) Aligning Training and Testing Data 부분

## align

DataFrame.align(self, other, join='outer', axis=None, level=None, copy=True, fill_value=None, method=None, limit=None, fill_axis=0, broadcast_axis=None)
- **other** : DataFrame or Series
- **join** : {‘outer’, ‘inner’, ‘left’, ‘right’}, default ‘outer’
- **axis** : index (0), columns (1)
- **level** : int or level name, default None
- **copy** = bool, default True
- **fill_value** : scalar, default np.NaN

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.align.html

In [44]:
df

     A  B
0  1.0  a
1  0.0  b
2  0.0  c

In [45]:
df2

   C  D
0  1  q
1  2  w
2  3  e

In [46]:
df.align(df2, join='inner', axis=1)

(Empty DataFrame
 Columns: []
 Index: [0, 1, 2], Empty DataFrame
 Columns: []
 Index: [0, 1, 2])

2_7_2) Effect of Age on Repayment 부분

## pd.cut() : 동일 길이로 나누기

In [47]:
import numpy as np
import pandas as pd

df3 = pd.DataFrame({'col_1': np.random.random(10), 

                'col_2': np.random.random(10)})
df3.head(3)

      col_1     col_2
0  0.284733  0.093393
1  0.819267  0.778249
2  0.508857  0.023215

In [48]:
#  5개의 동일한 길이로 범주를 만들
cut = pd.cut(df3.col_1, 5)
cut

0     (0.202, 0.357]
1     (0.665, 0.819]
2     (0.357, 0.511]
3     (0.511, 0.665]
4     (0.665, 0.819]
5    (0.0475, 0.202]
6     (0.665, 0.819]
7    (0.0475, 0.202]
8    (0.0475, 0.202]
9     (0.511, 0.665]
Name: col_1, dtype: category
Categories (5, interval[float64]): [(0.0475, 0.202] < (0.202, 0.357] < (0.357, 0.511] < (0.511, 0.665] < (0.665, 0.819]]

In [49]:
grouped_col_1 = df3.col_1.groupby(cut)

grouped_col_1.agg(['count', 'mean', 'std', 'min', 'max'])

                 count      mean       std       min       max
col_1
(0.0475, 0.202]      3  0.128550  0.069506  0.048296  0.169505
(0.202, 0.357]       1  0.284733       NaN  0.284733  0.284733
(0.357, 0.511]       1  0.508857       NaN  0.508857  0.508857
(0.511, 0.665]       2  0.595824  0.048597  0.561462  0.630187
(0.665, 0.819]       3  0.737088  0.072923  0.680101  0.819267

- np.linspace() : 시작점과 끝점을 균일 간격으로 나눈 점들을 생성

In [50]:
c = np.linspace(20, 70, 11)   # start, end, num-points 
c

array([20., 25., 30., 35., 40., 45., 50., 55., 60., 65., 70.])

## pd.qcut() : 동일 개수로 나누기

- labels=False : label이 0, 1, 2, 3 이런 식으로 0부터 순차적으로 1씩 증가

In [51]:
# 각 범주별로 동일하게 5개의 개수를 가지도록 범주 나누기
qcut = pd.qcut(df3.col_2, 5, labels=False)
qcut

0    1
1    3
2    0
3    4
4    2
5    4
6    0
7    1
8    2
9    3
Name: col_2, dtype: int64

- labels=np.arange(5, 0, -1)로 직접 지정을 해주면 label이 5, 4, 3, 2, 1 이런식으로 5부터 1씩 줄어드는 순서로 할당

In [52]:
qcut_2 = pd.qcut(df3.col_2, 5, labels=np.arange(5, 0, -1))
qcut_2

0    4
1    2
2    5
3    1
4    3
5    1
6    5
7    4
8    3
9    2
Name: col_2, dtype: category
Categories (5, int64): [5 < 4 < 3 < 2 < 1]

## [[[2_main2]]]

2_1) Kernel Density Estimate Plots 부분

## .ix 인덱싱
- integer position과 label 둘 다 사용하여 행에 접근하는 메서드
- 만약 label이 숫자라면 label-based index만 된다.
   - .loc : label 이용
   - .iloc : integer position 이용

(최근 버전에서는 사용하지 말 것을 권함)

In [71]:
df4 = pd.DataFrame([['가','나','다'],['a','b','c'],['1','2','3']],index=['r0','r1','r2'], columns = ['c0','c1','c2'])
df4.head()

   c0 c1 c2
r0  가  나  다
r1  a  b  c
r2  1  2  3

1) integer position 이용

In [72]:
df4.ix[1,1]

C:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'b'

2) label 이용

In [75]:
df4.ix['r1','c1']

C:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'b'

3) integer position과 label 이용

In [77]:
df4.ix['r1',1]

C:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'b'