**01. keras model_EDA**

## np.concatenate

In [24]:
import numpy as np

a = np.array([[1,2,3,4],[5,6,7,8]])
b = np.array([[10,20,30,40],[50,60,70,80]])

axis = 0 행

In [26]:
np.concatenate((a,b), axis = 0)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [10, 20, 30, 40],
       [50, 60, 70, 80]])

axis = 1 열 (axis =-1과 동일)

In [27]:
np.concatenate((a,b), axis = 1)

array([[ 1,  2,  3,  4, 10, 20, 30, 40],
       [ 5,  6,  7,  8, 50, 60, 70, 80]])

In [29]:
np.concatenate((a,b), axis = -1)

array([[ 1,  2,  3,  4, 10, 20, 30, 40],
       [ 5,  6,  7,  8, 50, 60, 70, 80]])

In [28]:
np.concatenate((a,b), axis = None)

array([ 1,  2,  3,  4,  5,  6,  7,  8, 10, 20, 30, 40, 50, 60, 70, 80])

## np.newaxis (차원 추가)
: indexing으로 길이가 1인 새로운 축 추가

In [3]:
import numpy as np

a = np.array([[1,2,3,4],[5,6,7,8]])
a

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [5]:
a.shape

(2, 4)

열 위치에 추가

In [6]:
a_new = a[:,np.newaxis]
a_new

array([[[1, 2, 3, 4]],

       [[5, 6, 7, 8]]])

In [7]:
a_new.shape

(2, 1, 4)

행 위치에 추가

In [8]:
a_new2 = a[np.newaxis,:]
a_new2

array([[[1, 2, 3, 4],
        [5, 6, 7, 8]]])

In [9]:
a_new2.shape

(1, 2, 4)

### 차원 추가 방법
1. numpy.reshape()
2. numpy.expand_dims()
3. numpy.newaxis

In [11]:
import numpy as np
a = np.arange(12).reshape(2,3,2)
a

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]]])

In [13]:
print("차원 추가 하기 전 : ",a.shape)

차원 추가 하기 전 :  (2, 3, 2)

**1. numpy.reshape()**

In [15]:
a_reshape = np.reshape(a,(1,2,3,2))
a_reshape

array([[[[ 0,  1],
         [ 2,  3],
         [ 4,  5]],

        [[ 6,  7],
         [ 8,  9],
         [10, 11]]]])

In [16]:
a_reshape.shape

(1, 2, 3, 2)

**2. numpy.expand_dims()**

In [17]:
a_expand = np.expand_dims(a,axis=0)
a_expand.shape

(1, 2, 3, 2)

**3. numpy.newaxis**

In [21]:
a_newaxis = a[np.newaxis,:]
a_newaxis.shape

(1, 2, 3, 2)

In [22]:
a_newaxis = a[:, np.newaxis]
a_newaxis.shape

(2, 1, 3, 2)

In [23]:
a_newaxis = a[:,:,:, np.newaxis]
a_newaxis.shape

(2, 3, 2, 1)

#############################################################################################################################

**02**

## pd.to_numeric
: 문자열을 숫자형으로 변환

In [8]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'A': ['1', '2', '3', '4', '5']})
df

   A
0  1
1  2
2  3
3  4
4  5

In [9]:
print('타입 변경 전:',df['A'].dtypes)

타입 변경 전: object

In [10]:
df['B'] = pd.to_numeric(df['A'])

In [11]:
print('타입 변경 후:',df['B'].dtypes)

타입 변경 후: int64

* **astype()** 을 이용해서 문자열을 숫자형으로 변환

In [12]:
df['C'] = df['A'].astype(float)

In [13]:
print('타입 변경 후:',df['C'].dtypes)

타입 변경 후: float64

In [14]:
df.dtypes

A     object
B      int64
C    float64
dtype: object

### errors = 'coerce'
* 컬럼에 **문자**가 포함되어있을 경우 ValueError 를 무시하기

In [33]:
df2 = pd.DataFrame({'A': ['1', '2', '3', '4', '5'],'B' : ['10','7','c','d','8']})
df2

   A   B
0  1  10
1  2   7
2  3   c
3  4   d
4  5   8

값 중에 몇 개가 실수로 숫자로 된 문자열이 아니라 문자로 된 문자열이 몇 개 포함되어 있다면, 다음과 같이 ValueError가 발생한다.

In [34]:
df2 = df2.apply(pd.to_numeric)

ValueError: ('Unable to parse string "c" at position 2', 'occurred at index B')

이때, 문자가 포함되어 있는 경우는 'NaN'으 값으로 변환하고, 나머지 숫자로된 문자열은 숫자형으로 변환해주는 것이 **errors = 'coerce'**이다.

In [35]:
df2 = df2.apply(pd.to_numeric, errors = 'coerce')
df2

   A     B
0  1  10.0
1  2   7.0
2  3   NaN
3  4   NaN
4  5   8.0

## 결측값 처리 방법

#### 1. 결측값을 특정 값으로 채우기

In [36]:
df_0 = df2.fillna(0)
df_0

   A     B
0  1  10.0
1  2   7.0
2  3   0.0
3  4   0.0
4  5   8.0

In [37]:
df_a = df2.fillna('a')
df_a

   A   B
0  1  10
1  2   7
2  3   a
3  4   a
4  5   8

#### 2. 결측값을 변수별 평균으로 채우기

In [38]:
df_mean = df2.fillna(df2.mean())
df_mean

   A          B
0  1  10.000000
1  2   7.000000
2  3   8.333333
3  4   8.333333
4  5   8.000000

#### 3. 결측값을 앞 방향 / 뒷 방향으로 채우기

3_1. 앞 방향

- fillna(method='ffill')

In [43]:
df_forward1 = df2.fillna(method='ffill')
df_forward1

   A     B
0  1  10.0
1  2   7.0
2  3   7.0
3  4   7.0
4  5   8.0

- fillna(method='pad')

In [44]:
df_forward2 = df2.fillna(method='pad')
df_forward2

   A     B
0  1  10.0
1  2   7.0
2  3   7.0
3  4   7.0
4  5   8.0

3_2. 뒷 방향

- fillna(method='bfill')

In [45]:
df_back1 = df2.fillna(method='bfill')
df_back1

   A     B
0  1  10.0
1  2   7.0
2  3   8.0
3  4   8.0
4  5   8.0

- fillna(method='backfill')

In [46]:
df_back2 = df2.fillna(method='backfill')
df_back2

   A     B
0  1  10.0
1  2   7.0
2  3   8.0
3  4   8.0
4  5   8.0

#### 4. 앞/뒤 방향으로 결측값 채우는 회수를 제한하기

In [49]:
df_limit_forward = df2.fillna(method='ffill', limit=1)
df_limit_forward

   A     B
0  1  10.0
1  2   7.0
2  3   7.0
3  4   NaN
4  5   8.0

In [50]:
df_limit_back = df2.fillna(method='bfill', limit=1)
df_limit_back

   A     B
0  1  10.0
1  2   7.0
2  3   NaN
3  4   8.0
4  5   8.0

## ImageDataGenerator
: 데이터를 변형시켜서 새로운 학습 데이터를 만들어 주는 것(**데이터 부풀리기**)
- 회전
- 이동

### 1) 파라미터

- **rotation_range** 

: 지정된 각도 범위내에서 임의로 원본이미지를 회전. 예를 들어 90이라면 0도에서 90도 사이에 임의의 각도로 회전시킨다.

- **width_shift_range** 

: 지정된 수평방향 이동 범위내에서 임의로 원본이미지를 이동. 수치는 전체 넓이의 비율(실수)로 나타낸다. 예를 들어 0.1이고 전체 넓이가 100이면, 10픽셀 내외로 좌우 이동시킨다.

- **height_shift_range**

: 지정된 수직방향 이동 범위내에서 임의로 원본이미지를 이동. 수치는 전체 높이의 비율(실수)로 나타낸다. 예를 들어 0.1이고 전체 높이가 100이면, 10픽셀 내외로 상하 이동시킨다.

- **shear_range**

: 밀림 강도 범위내에서 임의로 원본이미지를 변형. 수치는 시계반대방향으로 밀림 강도를 라디안으로 나타낸다. 예를 들어 0.5이라면, 0.5 라이안내외로 시계반대방향으로 변형시킨다.

- **zoom_range**

: 지정된 확대/축소 범위내에서 임의로 원본이미지를 확대/축소. “1-수치”부터 “1+수치”사이 범위로 확대/축소. 예를 들어 0.3이라면, 0.7배에서 1.3배 크기 변화를 시킨다. 

- **horizontal_flip = True**

: 수평방향으로 뒤집기
 
- **vertical_flip = True**

: 수직방향으로 뒤집기

출처 : https://tykimos.github.io/2017/06/10/CNN_Data_Augmentation/

### 2) 순서

**fit_generator** 함수를 통해 fitting한다.
- **steps_per_epoch** : 한 번 epoch 돌 때, 데이터를 몇 번 볼 것인가(트레이닝데이터수/배치사이즈)
- **validation_steps** : 한 번 epoch 돌 고난 후, validation set을 통해 validation accuracy를 측정할 때 validation set을 몇 번 볼 것인지(validation data수/배치사이즈)

출처: https://3months.tistory.com/199 [Deep Play]

from keras.preprocessing.image import ImageDataGenerator

train = ImageDataGenerator(파라미터...)

# flow_from_directory : 폴더구조를 그대로 가져와서
# ImageDataGenerator 객체의 실제 데이터를 채우준다..

training_set = train.flow_from_directory('data/training_set',
                                         target_size = (64, 64),
                                         batch_size = 32,
                                         class_mode = 'binary')

# fit_generator 함수를 실행함으로써 fitting

model.fit_generator(training_set,
                         steps_per_epoch = 300,
                         epochs = 25,
                         validation_data = test_set,
                         validation_steps = 2000)

## Iterator & Generator

### 1) Iterator(이터레이터)

#### 1_1) 기본 for문

리스트

In [1]:
for element in [1, 2, 3]:
    print(element)

1
2
3

In [2]:
for element in (1, 2, 3):
    print(element)

1
2
3

튜플

In [6]:
for element in {1,2,3}: 
    print(element)

1
2
3

사전형

In [10]:
for key in {'one':1, 'two':2}:
    print(key)

one
two

In [ ]:
# key값에 해당하는 값도 같이 나오려면
for key,value in {'one':1, 'two':2}.items():
    print(key,value)

문자열

In [4]:
for char in "123":
    print(char)

1
2
3

#### 1_2) iter() 함수, next() 함수

iter() 메소드를 호출해서 이터레이터 객체를 구하고 next() 호출

- iter() : 전달된 데이터의 반복자를 꺼내 반환
- next() : 반복자를 입력받아 그 반복자가 다음에 출력해야 할 요소를 반환

In [14]:
it = iter([1, 2, 3])
next(it)

1

In [15]:
next(it)

2

In [16]:
next(it)

3

In [17]:
# 다음 요소가 없으면 오류 발생
next(it)

StopIteration:

### 2) Generator(제너레이터)
: 값을 하나씩 꺼내는 반복자를 만드는 generator

- 함수로 생성기를 만들기 위해서는 yield 문이 필요하다
- return 문처럼 함수가 값을 반환하고 정지하도록 하는데, 그 함수를 나중에 다시 실행하면 정지했던 위치부터 다시 실행되도록 한다.
- yield 문이 포함된 함수는 일반 함수와 달리, 호출했을 때 생성기를 반환한다.

In [22]:
# 1. generator를 반환하는 함수 정의
def g():
    yield 'a'
    yield 'b'
    yield 'c'
    
# 2. generator 만들기
g()

In [27]:
# 3. 만든 generator를 next() 함수에 전달해 값을 하나씩 꺼내기
a_generator = g()
next(a_generator)

'a'

In [28]:
next(a_generator)

'b'

In [29]:
next(a_generator)

'c'

#### generator를 어디에 활용할까?

예를 들어, 1부터 무한대까지의 모든 자연수를 담은 컬렉션은 컴퓨터에 미리 만들어 저장할 수 없다. 하지만 생성기로 필요한 값을 하나씩 꺼내도록 하면 무한대의 컬렉션을 흉내낼 수 있다.

**1부터 무한대 범위의 자연수를 출력하는 생성기**

In [30]:
def one_to_infinite():
    n = 1
    while True:        # 무한 반복
        yield n        # 실행을 일시정지하고 n을 반환  
        n += 1

a_generator = one_to_infinite()     # 생성기 만들기

next(a_generator)

1

In [32]:
next(a_generator)

2

위 함수는 **무한 반복**되는 함수지만 **yield문** 때문에 값을 하나 반환하고 **실행을 일시정지**하므로 무한 반복이 있더라도 함수가 그 때 그 때 종료된다.

그리고 **next() 함수**로 1부터 무한대까지의 수를 원하는 만큼 꺼낼 수 있다.

출처 :

https://docs.python.org/3/tutorial/classes.html#iterators

https://python.bakyeono.net/chapter-7-4.html

**[참고]**
- Python 2에서는 "iterator객체.next()" 를 사용
- Python 3에서는 "iterator객체.__next__()" 메서드를 사용
- 버전에 관계없이 "next(iterator객체)" 를 사용

## VGGNet

https://bskyvision.com/504

#############################################################################################################################

**03**