## [[[1_main1]]]

1_2) Float Columns 부분

## OrderedDict
 : 기본 딕셔너리(dictionary)와 거의 비슷하지만, 입력된 아이템들(items)의 **순서를 기억하는 Dictionary** 클래스
 - 아이템들(items)의 입력(또는 삽입) 순서를 기억하기 때문에 sorted()함수를 사용하여 정렬된 딕셔너리(sorted dictionary)를 만들때 사용할 수 있다

http://pyengine.blogspot.com/2018/01/python-dictionary-ordereddict.html

In [22]:
# 사전형인 dictionary는 저장된 키(key)의 순서대로 값을 순환하지 않는다.(순서대로 할 때도 있지만)
d1 = {}
d1['a'] = 1
d1['b'] = 2
d1['c'] = 3
d1['d'] = 4
d1['e'] = 5
d1['f'] = 6
d1['g'] = 7
for i,j in d1.items():
    print(i,j)

a 1
b 2
c 3
d 4
e 5
f 6
g 7

In [23]:
from collections import OrderedDict
d2 = OrderedDict()
d2['a'] = 1
d2['b'] = 2
d2['c'] = 3
d2['d'] = 4
d2['e'] = 5
d2['f'] = 6
d2['g'] = 7
for i,j in d2.items():
    print(i,j)

a 1
b 2
c 3
d 4
e 5
f 6
g 7

## nunique 
: 고유값의 개수

In [9]:
import pandas as pd
df = pd.DataFrame({'A':['가','가','가'],'B':['a','a','a'], 'C':[0, 1, 2]})
df

   A  B  C
0  가  a  0
1  가  a  1
2  가  a  2

In [10]:
df.nunique()

A    1
B    1
C    3
dtype: int64

In [11]:
df.nunique().value_counts()

1    2
3    1
dtype: int64

In [12]:
df.nunique() == 1

A     True
B     True
C    False
dtype: bool

5_1_3)  Household Level Variables 부분

## np.triu
: 행렬의 Upper-triangular 구하기

In [17]:
import numpy as np
a = np.matrix([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
print(a)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [19]:
n = np.triu(a, 1)
print(n)

[[0 2 3]
 [0 0 6]
 [0 0 0]
 [0 0 0]]

In [20]:
n = np.triu(a, -1)
print(n)

[[ 1  2  3]
 [ 4  5  6]
 [ 0  8  9]
 [ 0  0 12]]

In [21]:
n = np.triu(a, 0)
print(n)

[[1 2 3]
 [0 5 6]
 [0 0 9]
 [0 0 0]]